{% extends 'html/base.html'%}

{% block html_title %}
MNNG - Contatti
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/it/navbar_it.html' %}
<p>
   <a href="{% url 'contacts' %}">🇬🇧 Change language</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Contatti</h1>

<p>
    {{ contacts_text }}
    <ul>
        {% for contact, number in contacts_dict.items %}
        <li> {{ contact|capfirst }} : {{ number }}</li>
        {% endfor %}
    </ul>
</p>

{% endblock %}