{% extends 'html/base.html'%}

{% block html_title %}
MNNG - Documentazione
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/it/navbar_it.html' %}
<p>
    <a href="{% url 'docs_view' %}" class="navbarColor">🇬🇧 Change language</a></li>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Documentazione</h1>

<p><a href="{% static 'pdf-test.pdf'%}" download="docs">Scarica il PDF</a></p>

<iframe src="{% static 'pdf-test.pdf'%}" width="95%" height="500px"></iframe>

{% endblock %}