{% extends 'html/base.html'%}

{% block html_title %}
MNNG
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/it/navbar_it.html' %}
<p>
    <a href="{% url 'home' %}">🇬🇧 Change language</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Pagina iniziale</h1>
<h3>Benvenuto nel tuo portafoglio digitale personale: MNNG!</h3>
<div class="gap5"></div>
<p>Con MNNG, potrai tenere traccia delle tue spese senza alcuna fatica.</p>
<p>Questo servizio si basa sulla responsabilità personale: la chiave è essere onesti con se stessi!</p>
<div class="gap5"></div>
<p>Per iniziare a usare MNNG, prima <a href="/it/create_user">crea un nuovo utente.</a> </p>
<p>Se già possiedi un account, <a href="login/">connettiti!</a></p>
<p>Fatto questo, crea un membro associato con il tuo account.</p>
<p>Questo membro terrà traccia di disponibilità economica e relativi cambiamenti.</p>
<p>Si può impostare un limite di spesa, così da avere sempre chiari i propri obiettivi economici.</p>
<div class="gap5"></div>
<p>Un utente può essere associato a più membri, così più conti (o più persone)
possono essere monitorati dallo stesso utente.</p>
<div class="gap5"></div>
<p>Inizia a usare MNNG oggi!</p>

{% endblock %}