
<p> <a href="/it/contacts">Contatti</a> </p>
<p> <a href="/it/about">Informazioni</a> </p>
<p> <a href="/it">Pagina home</a> </p> 
{% if user.is_authenticated %}
    <p> <a href="{% url 'member_list_view_it' logged_user=user.username %}">Visualizza lista membri</a></p>
    <p> <a href="/it/create_member">Crea membro</a> </p>
    <p> <a href="/it/logout">Disconnettiti</a></p>
    <p> <a href="/it/delete">Cancella utente</a></p>
{% else %}
    <p> <a href="/login">Connettiti</a> </p>
    <p> <a href="/it/create_user">Iscriviti</a> </p>
{% endif %}