{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Delete user
{% endblock %}

{% block body_content %}

<div class="navbarFlex">
{% include 'html/en/navbar.html' %}
<p>
    <a href="it/create_user/">🇮🇹 Cambia lingua</a>
</p>
</div>

<form method="POST"> {% csrf_token %}
    <h1>Do you want to delete the user {{ username }}?</h1>
    <h3>This will also delete all the following members:</h3>
    <ul>
    {% for member in user_members %}
        <li> {{ member.name }} </li>
    {% endfor %}
    </ul>
    <p>
        <input type="submit" value="Yes"/> 
        <a href='/en'>Cancel</a>
    </p>
</form>
{% endblock %}