{% extends 'html/base.html' %}

{% block html_title %}
MNNG - User info
{% endblock %}

{% block body_content %}

{% include 'html/navbar.html' %}

<ul>
    <li> <a href={% url 'update_member_view' id=obj.id %}>Update user</a> </li>
    <li> <a href={% url 'delete_member_view' id=obj.id %}>Delete user</a> </li>
</ul>

<h1>User info</h1>

<p>Username: {{ obj.username }}</p>
<p>Email: {{ obj.email }}</p>
<p>Availability: ${{ obj.availability }}</p>
<p>Spending limit: ${{ obj.spendable }}</p>

{% endblock %}