{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Update user
{% endblock %}

{% block body_content %}

{% include 'html/navbar.html' %}

{% include 'html/user_ops.html' %}

<h1>Update user {{ obj.username }}</h1>
<h2>Review your information:</h2>
<p>Username: {{ obj.username }}</p>
<p>Email: {{ obj.email }}</p>
<p>Password: {{ obj.password }}</p>
<p>Availability: ${{ obj.availability }}</p>
<p>Spending limit: ${{ obj.spendable }}</p>

<p>
    <h2>Update your information</h2>
</p>
<p>
    <h3>(You may change your password in this step, or just type it in again.)</h3>
</p>

<form action='updatemember' method="POST">{% csrf_token %}
    <p>
        <h6> Availability: {{ form.availability }} </h6>
    </p>
    <p>
        <h6> Spending limit: {{ form.spendable }} </h6>
    </p>
    <p>
        <h6> Username: {{ form.username }} </h6>
    </p>
    <p>
        <h6> Email: {{form.email }} </h6>
    </p>
    <p>
        <h6> Password: {{ form.password }} </h6>
    </p>
    <p>
        <h6> Confirm password: {{ form.confirm_password }} </h6>
    </p>
    <input type="submit" value="Update user" />
</form>

{% endblock %}