{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Update user
{% endblock %}

{% block body_content %}

{% include 'html/navbar.html' %}

{% include 'html/user_ops.html' %}

<h1>Update user {{ obj.username }}</h1>
<h2>Review your information:</h2>
<p>Username: {{ obj.username }}</p>
<p>Email: {{ obj.email }}</p>
<p>Password: {{ obj.password }}</p>
<p>Availability: ${{ obj.availability }}</p>
<p>Spending limit: ${{ obj.spendable }}</p>

<h2>Update your information (leave as is if not intending to change)</h2>

<form action='updatemember' method="POST">{% csrf_token %}
    <p>
        <h4> Availability: {{ form.availability }} </h4>
    </p>
    <p>
        <h4> Spending limit: {{ form.spendable }} </h4>
    </p>
    <p>
        <h4> Username: {{ form.username }} </h4>
    </p>
    <p>
        <h4> Email: {{form.email }} </h4>
    </p>
    <p>
        <h4> Password: {{ form.password }} </h4>
    </p>
    <p>
        <h4> Confirm password: {{ form.confirm_password }} </h4>
    </p>
    <input type="submit" value="Update user" />
</form>

{% endblock %}