{% extends 'html/base.html' %}
{% load myFilters%}

{% block html_title %}
MNNG - Update user
{% endblock %}

{% block body_content %}

{% include 'html/navbar.html' %}

{% include 'html/user_ops.html' %}

<h1>Update user {{ obj.username }}</h1>
<h2>Review your information:</h2>
<p>Username: {{ obj.username }}</p>
<p>Email: {{ obj.email }}</p>
<p>Password: {{ obj.password }}</p>
<p>Availability: ${{ obj.availability }}</p>
<p>Spending limit: ${{ obj.spendable }}</p>

<p>
    <h2>Update your information</h2>
</p>
<p>
    <h3>(You may change your password in this step, or just type it in again.)</h3>
</p>

<form method="POST">{% csrf_token %}
    {% for field in form %}
    <p> {{ field.errors }} </p>
    <p> {{ field.name|capfirst|intoSpace:'_' }} - {{ field }} </p>
    {% endfor %}
    <input type="submit" value="Update user" />
</form>

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% endblock %}