{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link 
            rel="shortcut icon" 
            type="icon" 
            href="{% static '/favicon/favicon-black.ico' %}"
            media="(prefers-color-scheme: light)">

            <link 
                rel="shortcut icon" 
                type="icon" 
                href="{% static '/favicon/favicon-white.ico' %}"
                media="(prefers-color-scheme: dark)">
    </head>
    <body>
        <img src="{% static '/logo/logo-color.png' %}" width="20%">
        
        {% block body_content %}
            root content
        {% endblock %}

    </body>
</html>