{% extends 'html/base.html'%}

{% block html_title %}
MNNG - Contacts
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
    {% include 'html/en/navbar.html' %}
    <p>
        <a href="{% url 'contacts_it' %}" class="navbarColor">🇮🇹 Cambia lingua</a>
    </p>
</div>

{% endblock %}

{% block body_content %}

<h1>Contacts</h1>

<p>
    {{ contacts_text }}
    <ul>
        {% for contact, number in contacts_dict.items %}
        <li> {{ contact|capfirst }} : {{ number|safe }}</li>
        {% endfor %}
    </ul>
</p>

{% endblock %}