<button type="button" class="arrow collapsible">Member operations</button>
    <div class="collapsibleContent">
        <p class="gap5"></p>
        <p> <a href={% url 'update_member_view' name=obj.name %} style="display: block; width: 100%;">Update member</a> </p>
        <p> <a href={% url 'delete_member_view' name=obj.name %} style="display: block; width: 100%;">Delete member</a> </p>
        <p> <a href={% url 'member_detail_view' name=obj.name %} style="display: block; width: 100%;">Member page</a></p>
        <p> <a href={% url 'member_history_list_view' name=obj.name %} style="display: block; width: 100%;">Edit history</a></p>
    </div>