<p> <a href="/en/contacts">Contacts</a> </p>
<p> <a href="/en/about">About</a> </p>
<p> <a href="/en">Home page</a> </p> 
{% if user.is_authenticated %}
    <p> <a href="{% url 'member_list_view' logged_user=user.username %}">See members list</a></p>
    <p> <a href="/en/create_member">Create member</a> </p>
    <p> <a href="/en/logout">Logout</a></p>
    <p> <a href="/en/delete">Delete user</a></p>
{% else %}
    <p> <a href="/login">Login</a> </p>
    <p> <a href="/en/create_user">Sign up</a> </p>
{% endif %}