body {
    font-family: 'Comfortaa';
    padding-left: 10px;
}

.inline-div{
    display: inline-block;
    width: 100%;
}

.navbarFlex{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 10px;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.navbar{
    margin-left: auto;
    width: 100%;
}

