{% extends 'html/base.html' %}
{% load myFilters%}

{% block html_title %}
MNNG - Create member
{% endblock %}

{% block body_content %}

<div class="navbarFlex">
{% include 'html/en/navbar.html' %}
<p>
    <a href="/it/create_member">🇮🇹 Cambia lingua</a>
</p>
</div>

<h1>Create member</h1>

<form method="POST">{% csrf_token %}
    {% for field in form %}
    <p> {{ field.errors }} </p>
    <p> {{ field.name|capfirst|intoSpace:'_' }} - {{ field }} </p>
    {% endfor %}
    <input type="submit" value="Create user" />
</form>

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% endblock %}