{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Member info
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/en/navbar.html' %}
<p>
    <a href={% url 'member_detail_view_it' name=obj.name %}>🇮🇹 Cambia lingua</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Member info</h1>

<p>Username: {{ obj.name }}</p>
<p>Email: {{ obj.email }}</p>
<p>Availability: ${{ obj.availability }}</p>
<p>Spending limit: ${{ obj.spendable }}</p>

{% include 'html/en/member_ops.html' %}

{% endblock %}