{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Edit history
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/en/navbar.html' %}
<p>
    <a href="{% url 'member_history_list_view_it' name=obj.name %}" class="navbarColor">🇮🇹 Cambia lingua</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>User edit history</h1>

<button type="button" class="editCollapsible arrow">Edit operations</button>
    <div class="editCollapsibleContent">
        {% for record, timestamp in history.items %}
        <button type="button" class="editCollapsible arrow">{{ obj.name }} operation ({{ timestamp }})</button>
            <div class="editCollapsibleContent">{{ record|capfirst|safe }} </div>
        {% endfor %}
    </div>

<div class="gap5"></div>

{% include 'html/en/member_ops.html' %}

{% endblock %}