{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Member list
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/en/navbar.html' %}
<p>
    <a href="{% url 'member_list_view_it' logged_user=user.username %}" class="navbarColor">🇮🇹 Cambia lingua</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Welcome, {{ request.user }}!</h1>

<h2>Members list</h2>

<ul>
{% for obj in memberList%}
    <li>
        <a href={% url 'member_detail_view' name=obj.name %}>{{ obj.name }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}