{% extends 'html/base.html' %}
{% load myFilters%}

{% block html_title %}
MNNG - Update member
{% endblock %}

{% block body_content %}

<div class="navbarFlex">
{% include 'html/en/navbar.html' %}
<p>
    <li> <a href="{% url 'update_member_view_it' name=obj.name %}">🇮🇹 Cambia lingua</a></li>
</p>
</div>

{% include 'html/en/member_ops.html' %}

<h1>Update user {{ old_obj.name }}</h1>
<h2>Review your information:</h2>
<p>Username: {{ old_obj.name }}</p>
<p>Email: {{ old_obj.email }}</p>
<p>Availability: ${{ old_obj.availability }}</p>
<p>Spending limit: ${{ old_obj.spendable }}</p>

<p>
    <h2>Update your information</h2>
</p>

<form method="POST">{% csrf_token %}
    {% for field in member_form %}
    <p> {{ field.errors }} </p>
    <p> {{ field.name|capfirst|intoSpace:'_' }} - {{ field }} </p>
    {% endfor %}
    <input type="submit" value="Update user" />
</form>

{% if member_form.subject.errors %}
    <ol>
    {% for error in member_form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% endblock %}