{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Eliminazione membro
{% endblock %}

{% block body_content %}

<div class="navbarFlex">
{% include 'html/it/navbar_it.html' %}
<p>
    <a href={% url 'delete_member_view' name=obj.name %}>🇬🇧 Change language</a>
</p>
</div>

{% include 'html/it/member_ops_it.html' %}

<form method="POST"> {% csrf_token %}
    <h1>Vuoi eliminare il membro {{ obj.name }}?</h1>
    <p>
        <input type="submit" value="Conferma"/> 
        <a href={% url 'member_detail_view_it' name=obj.name %}>Annulla</a>
    </p>
</form>
{% endblock %}