{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Info membro
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/it/navbar_it.html' %}
<p>
    <a href={% url 'member_detail_view' name=obj.name %}>🇬🇧 Change language</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Informazioni membro</h1>

<p>Username: {{ obj.name }}</p>
<p>Email: {{ obj.email }}</p>
<p>Disponibilità: ${{ obj.availability }}</p>
<p>Limite di spesa: ${{ obj.spendable }}</p>

{% include 'html/it/member_ops_it.html' %}

{% endblock %}