{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Lista membri
{% endblock %}

{% block navbar %}

<div class="navbarFlex">
{% include 'html/it/navbar_it.html' %}
<p>
    <a href="{% url 'member_list_view' logged_user=user.username %}">🇬🇧 Change language</a>
</p>
</div>

{% endblock %}

{% block body_content %}

<h1>Benvenuto, {{ request.user }}!</h1>

<h2>Lista membri</h2>

<ul>
{% for obj in memberList%}
    <li>
        <a href={% url 'member_detail_view_it' name=obj.name %}>{{ obj.name }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}