{% extends 'html/base.html' %}

{% block html_title %}
MNNG - Creazione utente
{% endblock %}

{% block body_content %}

{% include 'html/navbar_it.html' %}

<ul>
    <li><a href="{% url 'create_user_view' %}">Change language</a></li>
</ul>

<h1>Iscriviti</h1>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST"> {% csrf_token %}
    <p>Username - {{ form.username }}</p>
    <p>Password - {{ form.password1 }}</p>
    <p>Conferma password - {{ form.password2 }}</p>
    <p>
        <input type="submit" name="submit" value="Iscriviti" />
    </p>
</form>

<ul>
    <li>La password non dev'essere troppo simile ad altre informazioni personali.</li>
    <li>La password deve contenere almeno 8 caratteri.</li>
    <li>La password non dev'essere troppo comune.</li>
    <li>La password non può essere completamente numerica.</li>
</ul>

{% endblock %}